* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Anton", sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    clip-path: url(#text-path);
    position: absolute;
    width: 600px;
    transform: translateZ(0);
}

video {
    width: 100%;

}
